  <div class="container scroll-top-wrapper">
    <a class="scroll_top" href="#top">
      <i class="ion-android-arrow-dropup-circle"></i>
    </a>  
  </div>  
  <!-- FOOTER -->
  <div id="footer">
  <footer class="footer">
    <section class="footer-inner">
      <div class="container">
        <div class="row">
          <div class="col">
            <small>
            Contact : <a href="tel:0943.870.301">0943.870.301</a> - Email: <a href="mailto:luubinhan1989@gmail.com">luubinhan1989@gmail.com</a>
            </small>
          </div>
          <div class="col text-right">
            <small>© Copyright 2011-2016 An.Luu, All rights reserved</small>
          </div>
        </div>
      </div> <!-- container -->
    </section> <!-- / footer-inner -->
  </footer> <!-- / footer -->
  </div>
  <!-- / FOOTER -->
</body>
</html>