<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Document</title>
	
	<meta name="format-detection" content="telephone=no">
	
	<!-- Favicon 32x32 and 180x180 -->
	<link rel="icon" sizes="32x32" href="" type="image/png" />
	<link rel="icon" sizes="180x180" href="" type="image/png" />

	<!-- CDN -->
	<link href="https://fonts.googleapis.com/css?family=Cookie|Poppins" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

	<!-- DO NOT TOUCH -->
	<link rel="stylesheet" type="text/css" href="css/woocommerce.css">
	<link rel="stylesheet" type="text/css" href="css/woocommerce-layout.css">
	
	<!-- AUTO CONCAT -->
	<link rel="stylesheet" type="text/css" href="css/concat.css">

	<!-- MANUAL UPDATE -->
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/style-responsive.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
	<!-- Init MAPS -->
	<script>
	    var map;
	    function initMap() {
	      map = new google.maps.Map(document.getElementById('map'));
	    }
	</script>
	
	<script src="js/animations.min.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/jquery.viewport.mini.js"></script>
	<script src="js/jquery.parallax-1.1.3.js"></script>
	<script src="js/jquery.stellar.min.js"></script>
	<script src="js/jquery.appear.js"></script>
	<script src="js/jquery.scrollTo.min.js"></script>		
	
	<script src="js/plugin.js"></script>
	<script src="js/main.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhktXAG6guKrLzHSMjAqPO9ki-SKP556Y" async defer></script>
</head>
<body class="mystyle">
<!-- TOOLBAR -->
<div id="toolbar">


