// Variables
@import '_variables';



/* List - Text - Link
-------------------------------------------------------------- */
* {outline-color: $primary-color}
body {
  min-height: 100vh; 
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}
.layout {
  font-family: $san-serif;
  font-size: 16px;
  color: $primary-text-color;
}
img {
  max-width: 100%;
}
a {
  color: $link-color;
  text-decoration: none;
  outline: none;
  box-shadow: none;
}
li {
  margin-bottom: 0;
}
a:hover {
  color: $link-color-hover;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
dl {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap
}
dt {
  flex-basis: 30%;
  min-width: 30%;
  padding-right: 5%;
  margin: 0;
  padding-top: 15px;
  margin-bottom: 15px;
  text-align: right;
}
dd {
  padding: 0;
  margin: 0;
  padding-top: 15px;
  margin-bottom: 15px;
  border-top: 1px dotted $border-color;
  flex-basis: 65%;
  min-width: 65%;
}
hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid #ffffff;
}
input[type="text"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="email"] {
  @include defaultInput;
}
input[type="text"],
input[type="button"],
input[type="number"],
input[type="email"],
input[type="email"],
input[type="submit"],
input[type="password"],
input[type="passwords"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
select{
  @include defaultSelect;
}
/* List - Text - Link -------------------------------------------------------------- */
/* Select
-------------------------------------------------------------- */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $muted;
  opacity: 1;
  font-size: inherit;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: $muted;
  opacity: 1;
  font-size: inherit;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: $muted;
  opacity: 1;
  font-size: inherit;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: $muted;
  opacity: 1;
  font-size: inherit;
}
::selection {
  background: $primary-color;
  /* Safari */
  color: #fff;
}
::-moz-selection {
  background: $primary-color;
  /* Firefox */
  color: #fff;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
/* Select-------------------------------------------------------------- */
/* MISC 
-------------------------------------------------------------- */
.relative {
  position: relative;
}
.pl-10 {
  padding-left: 10px;
}
.pl-20 {
  padding-left: 20px;
}
.pl-30 {
  padding-left: 30px;
}
.pl-40 {
  padding-left: 40px;
}
.pr-10 {
  padding-right: 10px;
}
.pr-20 {
  padding-right: 20px;
}
.pr-30 {
  padding-right: 30px;
}
.pr-40 {
  padding-right: 40px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-30 {
  padding-top: 30px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-30 {
  padding-bottom: 10px;
}
.pb-40 {
  padding-bottom: 40px;
}
.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}
.p-30 {
  padding: 30px;
}
.p-40 {
  padding: 40px;
}
.p-50 {
  padding: 50px;
}
.p-60 {
  padding: 60px;
}
.p-0 {
  padding: 0 !important;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}
.banner img,
figure img {
  display: block;
}
.reset {
  margin-bottom: 0;
}
.reset td {
  padding: 0;
}
table.reset {
  width: 100%;
}
table.reset tr td {
  vertical-align: top;
  padding: 0 10px 5px 0;
  text-align: left;
}
.figure,
figure {
  overflow: hidden;
}
.figure img {
  height: 100%;
  max-width: none;
}
.figure,
figure {
  text-align: center;
  display: block;
}
.figure-2 {
  display: block;
  overflow: hidden;
}
.figure-2 img {
  width: 100%;
  height: auto;
  min-height: 100%;
}
.figure-2 span {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.figure-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.figure-3 img {
  width: auto;
  min-height: 0;
  max-height: 100%;
  display: inline;
}
.overhidden {
  overflow: hidden;
}
.muted {
  color: $muted;
}
.color {
  color: $primary-color !important;
}
.link {
  color: $link-color;
}
hr{
  &.line {
    border-top: 1px solid $border-color;
  }
  &.dashed {
    border-top: 1px dashed $border-color;
  }
}
img {
  &.align-left {
    float: left;
    margin: 8px 20px 10px 0;
  } 
  &.align-right {
    float: right;
  }
  &.align-center {
    margin: 0px auto;  
  }
}

.align-left {
  text-align: left !important;
}
.align-right {
  text-align: right!important;
}
.align-center {
  text-align: center !important;
}


/* MISC --------------------------------------------- */


/* RESET BOOTSTRAP
-------------------------------------------------------------- */
.layout {
  .btn {
    border-radius: 0;
    + .btn {
      margin-left: 20px;
    }
    &.btn-rounded {
      border-radius: 999em;  
      padding-left: 2.5em;
      padding-right: 2.5em;  
    }
    &.btn-success{
      background-color: $green;
      border-color: $green;
      &:hover,
      &:focus,
      &:active{
        background-color: darken($green,5%);
        border-color: darken($green,5%);    
      }  
      &:focus:active{
        background-color: darken($green,10%);
        border-color: darken($green,10%);   
      }
    }
    &.btn-info{
      background-color: $cyan;
      border-color: $cyan;
      &:hover,
      &:focus,
      &:active{
        background-color: darken($cyan,5%);
        border-color: darken($cyan,5%);    
      }  
      &:focus:active{
        background-color: darken($cyan,10%);
        border-color: darken($cyan,10%);   
      }
    }
    &.btn-warning{
      background-color: $orange;
      border-color: $orange;
      &:hover,
      &:focus,
      &:active{
        background-color: darken($orange,5%);
        border-color: darken($orange,5%);    
      }  
      &:focus:active{
        background-color: darken($orange,10%);
        border-color: darken($orange,10%);   
      }
    }
    &.bnt-danger{
      background-color: $red;
      border-color: $red;
      &:hover,
      &:focus,
      &:active{
        background-color: darken($red,5%);
        border-color: darken($red,5%);    
      }  
      &:focus:active{
        background-color: darken($red,10%);
        border-color: darken($red,10%);   
      }
    }
    &.btn-primary {
      background-color: $primary-color;
      border-color: $primary-color;  
      &:hover,
      &:focus,
      &:active{
        background-color: darken($primary-color,5%);
        border-color: darken($primary-color,5%);    
      }  
      &:focus:active{
        background-color: darken($primary-color,10%);
        border-color: darken($primary-color,10%);   
      }
    }
    &.btn-outline-secondary{
      &:hover {
        background: $bg-gray;
        border-color: $border-color;
        color: $primary-text-color;
      }
    }
  }
}
.dropdown-menu{
  border-color: $border-color;
  -webkit-box-shadow: none;
    box-shadow: none;
  border-radius: 0;
  > li {
    > a{
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}
.form-control:focus {
  border-color: $primary-color;
}
.custom-control-input{
  &:checked ~ .custom-control-indicator {
    background-color: $primary-color;
  }
  &:focus ~ .custom-control-indicator {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba($primary-color, .25);
  }
}
.dropdown-item.active, .dropdown-item:active {
  background-color: $primary-color;
}
/*-----------------------------
# [ Reset Bootstrap color]
----------------------------- */
.bg-primary {
  background-color:$primary-color !important;
}
.bg-success {
  background-color: $green !important;
}
.bg-info {
  background-color: $cyan !important;
}
.bg-warning {
  background-color: $yellow !important;
}
.bg-danger {
  background-color: $red !important;
}
.bg-dark {
  background-color: $bg-dark !important;
}
/* RESET BOOTSTRAP -------------------------------------------- */
img {
  max-width: 100%;
}
.section-header {
  h1 {
    position: relative;
    display: inline-block;    
    span.transform {
      background: #000;
      padding-left: 20px;
      padding-right: 20px;
      color: #fff;
      display: inline-block;
      transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(-5deg);
      -moz-transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(-5deg);
      -webkit-transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(-5deg);
      -o-transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(-5deg);
      -ms-transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(-5deg);
      perspective: 1000px;-webkit-perspective: 1000px; perspective-origin: 0% 90%; -webkit-perspective-origin: 0% 90%;
    }    
    strong {
      background: #00A5B4;
      padding: 3px 20px;
      color: #fff;
      position: relative;
      z-index: 2;
      &:after {
        content: "";
        z-index: 0;
        border-width: 5px 5px 0 0;
        border-color: #00a5b6;
        border-style: solid;
        display: block;
        position: absolute;
        right: -10px;
        top: -10px;
        width: 50px;
        height: 50px;
      }
    }
    .second {
      margin-left: 10px;
      color: #fff;
      background: #C9DC08;
      padding: 3px 20px;
      position: relative;
      z-index: 1;
      display: block;
      &:before {
        content: "";
        z-index: 0;
        border-width: 0 0 5px 5px;
        border-color: #c6d809;
        border-style: solid;
        display: block;
        position: absolute;
        left: -10px;
        bottom: -10px;
        width: 50px;
        height: 50px;
      } 
    }
  }
}
.header-desc {
  font-size: 20px;
}
.section-portfolio {
  .inner {
    padding: 50px 0 100px;
  }
  .section-header {
    margin-bottom: 40px;    
  }
}
.layout {
  padding-left: 60px;
  .sidebar {
    width: 60px;
    background: $bg-dark;
    -webkit-box-shadow:inset -7px 0 7px 0px rgba(0,0,0,0.4);
    box-shadow:inset -7px 0 7px 0px rgba(0,0,0,0.4);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    > .inner {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      justify-content: space-between;
    }
    .logo {
      padding-top: 20px;
      display: block;
      text-align: center;
      padding-bottom: 20px;
      background: rgba(0, 0, 0, 0.4);
      margin-bottom: 30px;
    }
    .top-section {
      .lang {
        text-align: center;
        display: block;
        margin-top: 15px;
        img {
          display: inline-block;
          filter: grayscale(1);
          opacity: 1;
          width: 25px;
          border-radius: 50%;
        }
        &.active {
          img {
            filter: none;
            opacity: 1;
            border: 2px solid #fff;
            background: #fff;
          }
        }
      }
    }
    .middle-section {
      .icon-sidebar {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #909092;
        font-size: 25px;
        text-align: center;
        padding: 16px 0;
        &:hover {
          color: $secondary-color;
        }
      }
    }
    .bottom-section {
      padding-bottom: 15px;
    }
  }
}
.copy-right {
  color: #999;
  position: fixed;
  right: 30px;
  bottom: 50px;
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 20px;
  white-space: nowrap;
}
.scroll_top{
  position: absolute;
  right: 0;
}
.master-inner {
  min-height: calc(100vh - 85px);
}

.section-bao-gia {
  background: #eef6f9 url("/images/banner.jpg") no-repeat left center;
  min-height: 100vh;
  padding-top: 90px;
  padding-bottom: 90px;
  .section-header {
    margin-bottom: 40px;
  }
  .accordion {
    border: none;
    .accordion__title {
      h5 {
        font-weight: bold;
        padding-right: 30px;
      }
      background: rgba(255,255,255,.7);
      color: $primary-text-color;      
      &:focus,
      &:active {
        outline-color: $primary-color;
      }
      
    }
    .accordion__title[aria-selected=true]{
      background: $primary-color;
      color: #fff;
    }
    .accordion__body--hidden,
    .accordion__body {
      background: rgba(0,165,180,.8);
      color: #fff;
    }
    .accordion__item + .accordion__item {
      border-top: none;
      margin-top: 10px;
    }
  }
}

.section-why {
  min-height: 100vh;
  /* background: #b4d4e3 url("/images/bg-feature.jpg") no-repeat center bottom; */
}
.card-portfolio {
  margin-bottom: 50px;
  img {
    display: inline-block;
    vertical-align: bottom;
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
    transition: all .3s ease;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 0;
    &:hover {
      box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16);
      margin-top: -10px;
      margin-bottom: 10px;
    }
  }
  .card-image {
    margin-bottom: 10px;
    a {
      position: relative;
      display: block;
      .caption {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;		
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        opacity: 0;
        transition: all 0.8s ease;
        font-size: 3rem;
        background: rgba(255, 255, 255, .8);
      }
      &:hover {
        .caption {
          opacity: 1;
        }
        img {
          -webkit-filter: grayscale(70%);
          filter: grayscale(70%);
        }
      }
    }
  }
  .card-title {
    font-size: 1.3rem;
    a {
      color: $primary-text-color;
    }
    svg {
      color: #a9aebf;
      width: .8em;
      height: .8em;
    }
  }
}
.nav-right {
  li {
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
  
}
.navbar.navbar-filter{
  border-radius: 0;
  margin-bottom: 60px;
  padding: 0;
  .navbar-nav{      
    &.navbar-right{
      margin-right: 0;
    }
    > li{
      > a {
        font-size: 1.3rem;
        margin-right: 1.2em;
        padding-bottom: 4px;
        border-bottom: 3px solid transparent;
        color: $primary-text-color;
        &:hover {
          text-decoration: none;
          border-color: $secondary-color;
          color: $primary-color;
        }
      }
    }
  }
}

@media(max-width:$breakpoint-sm){  
  .archive{
    .archive-page-title{
      padding-top: 0;
      padding-bottom: 15px;
    }
    .navbar.navbar-default.navbar-filter{
       min-height: 0;
      .navbar-header{
        display: none;
      }
      .nav.navbar-nav.navbar-category{
        display: none;
      }
      .nav.navbar-nav.navbar-right{
        margin: 0;
        display: flex;
        justify-content: space-between;
      }
      .navbar-nav{
       
        > li{
          border-left: 0;
          > a{
            padding-left: 10px;
            padding-right: 10px;
          }
        }
      }
    }    
  }  
}

.tag {
  display: inline-block;
  background-color: #fff;
  padding: 5px 10px;
  line-height: 1;  
  white-space: nowrap;  
  transition: all .15s ease-in-out;
  border: 1px solid rgba(63, 70, 94, .1);
  &:hover{
    box-shadow: 0 0 0 2px lighten($bg-gray,1%);
  }
  .close{
    line-height: 14px;
    font-size: 16px;    
    margin-left: 7px;
    color: rgba(0,0,0,.5);
    opacity: 1;   
    display: inline-block;
    width: 15px;
    text-align: center;
  }
  &:hover{
    .close{
      color: rgba(0,0,0,.9);
    }
  }
}
.tags {
  .tag{
    margin-right: 2px;
    margin-bottom: 2px;
  }
}
.my-tip {
  color: #fff;
  padding: 0 10px;
}