<div class="widget widget-container widget-primary widget_contact">
  <div class="widget-title">Contact Us</div>
  <div class="widget-body">
    <div class="widget-contact-text">
      <strong>Our Address</strong>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis perferendis unde alias harum, expedita tempora </p>
    </div>
    <hr>
    <div class="widget-contact-text">
      <strong>
        Call Us
      </strong>
      <p><a href="tel:123456789">Deserunt officiis suscipit ipsam temporibus reiciendis, hic ipsa amet.</a></p>
    </div>
    <hr>
    <div class="widget-contact-text">
      <strong>
        Email Us
      </strong>
      <p>
        <a href="">contactus@gmail.com</a>
      </p>
    </div>
    <hr>
    <div class="widget-contact-text">
      <strong>
        Fax
      </strong>
      <p>
        0123456789
      </p>
    </div>
  </div><!-- widget-body -->
</div><!-- widget_contact -->