<ul class="widget-mystyle-blog">
	<li class="clearfix">	
		<a href="1-single.html" class="figure2" itemprop="associatedMedia" itemscope="" itemid="http://placehold.it/200x200" itemtype="http://schema.org/ImageObject">
			<img src="http://placehold.it/150x150" alt=""> <!-- Default `thumbnail` size -->
		</a>
		<div class="widget-blog-desc-holder">
			<h4 class="post-widget-caption">
				<a href="1-single.html" rel="bookmark" title="">Et odit provident aut</a>
			</h4>

			<!-- COMPOMENT/post_meta.html -->
			<div class="post-meta">
				<div class="post-date">
					<time datetime="2016-11-23">november 23rd, 2016</time>
				</div> <!-- post-date -->
				<div class="post-category">
		  			Geen categorie			
		  		</div>
	  		</div> <!-- post-meta -->		
	  		<!-- COMPOMENT/post_meta.html -->
  		</div>			
	</li>
	<li class="clearfix">
		<a href="1-single.html" class="figure2" itemprop="associatedMedia" itemscope="" itemid="http://placehold.it/200x200" itemtype="http://schema.org/ImageObject">
			<img src="http://placehold.it/150x150" alt=""> <!-- Default `thumbnail` size -->
		</a>
		<div class="widget-blog-desc-holder">				
			<h4 class="post-widget-caption">
				<a href="1-single.html" rel="bookmark" title="Permanent Link to Modi eum aliquid recusandae illum">Modi eum aliquid recusandae illum</a>
			</h4>
			<!-- COMPOMENT/post_meta.html -->
			<div class="post-meta">
				<div class="post-date">
					<time datetime="2016-11-23">november 23rd, 2016</time>
				</div> <!-- post-date -->
				<div class="post-category">
		  			<a href="http://visumvietnamexpert.demo.devinition.com/category/uncategorized/" rel="category tag">Uncategorized</a>			
		  		</div>
	  		</div> <!-- post-meta -->	
	  		<!-- COMPOMENT/post_meta.html -->	
  		</div>
	</li>
	<li class="clearfix">
		<a href="1-single.html" class="figure2" itemprop="associatedMedia" itemscope="" itemid="http://placehold.it/200x200" itemtype="http://schema.org/ImageObject">
			<img src="http://placehold.it/150x150" alt=""> <!-- Default `thumbnail` size -->
		</a>	
		<div class="widget-blog-desc-holder">				
			<h4 class="post-widget-caption">
				<a href="http://visumvietnamexpert.demo.devinition.com/deserunt-ipsum-eos-perspiciatis-enim-eum-sunt/" rel="bookmark" title="Permanent Link to Deserunt ipsum eos perspiciatis enim eum sunt">Deserunt ipsum eos perspiciatis enim eum sunt</a>
			</h4>
			<!-- COMPOMENT/post_meta.html -->
			<div class="post-meta">
				<div class="post-date">
					<time datetime="2016-11-23">november 23rd, 2016</time>
				</div> <!-- post-date -->
				<div class="post-category">
		  			<a href="http://visumvietnamexpert.demo.devinition.com/category/uncategorized/" rel="category tag">Uncategorized</a>			
		  		</div>
	  		</div> <!-- post-meta -->	
	  		<!-- COMPOMENT/post_meta.html -->
  		</div>	
	</li>
	<li class="clearfix">		
		<a href="1-single.html" class="figure2">
			<img src="http://placehold.it/150x150" alt=""> <!-- Default `thumbnail` size -->
		</a>	
		<div class="widget-blog-desc-holder">		
			<h4 class="post-widget-caption">
				<a href="1-single.html" rel="bookmark" title="Permanent Link to Sint ex fugiat aut repellat distinctio">Sint ex fugiat aut repellat distinctio</a>
			</h4>
			<!-- COMPOMENT/post_meta.html -->
			<div class="post-meta">
				<div class="post-date">
					<time datetime="2016-11-23">november 23rd, 2016</time>
				</div> <!-- post-date -->
				<div class="post-category">
		  			<a href="http://visumvietnamexpert.demo.devinition.com/category/uncategorized/" rel="category tag">Uncategorized</a>			
		  		</div>
	  		</div> <!-- post-meta -->
	  		<!-- COMPOMENT/post_meta.html -->		
  		</div>
	</li>
</ul>