@import "../styles/_variables";

.section-why {
  padding-top: 100px;
  padding-bottom: 100px;
  background: $primary-color;
  color: #fff;
  .section-header {
    margin-bottom: 50px;
  }
  .section-body {
    padding: 40px;
    background: rgba(0, 0, 0, 0.5);
  }
  .item-feature{
    .feature-image {
      width: 100px;
      height: 100px;
      line-height: 100px;
      margin-bottom: 40px;      
      text-align: center;
      font-size: 3rem;
      display: inline-block;
      position: relative;     
      &:before {
        position: absolute;
        border: 2px solid rgba(255,255,255,0.9);
        content: "";
        display: block;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 0;
      }
    }
    .feature-title {
      margin-bottom: 10px;
      font-weight: 700;
      font-size: $font-size-large;
    }
  }
  .feature-1 {
    .feature-image {
      border-radius: 78% 22% 70% 30% / 30% 63% 37% 70%;
      background: #ffc578;
      background: -moz-linear-gradient(top, #ffc578 0%, #f47631 100%);
      background: -webkit-linear-gradient(top, #ffc578 0%,#f47631 100%);
      background: linear-gradient(to bottom, #ffc578 0%,#f47631 100%);
      &:before {
        border-radius: 78% 22% 70% 30% / 30% 63% 37% 70%;
        -moz-transform: rotate(29deg);
        -webkit-transform: rotate(29deg);
        -o-transform: rotate(29deg);
        -ms-transform: rotate(29deg);
        transform: rotate(29deg);
      }
    }
  }
  .feature-2 {
    .feature-image {
      border-radius: 32% 68% 70% 30% / 60% 63% 37% 40%;
      background: #ffc578;
      background: -moz-linear-gradient(-45deg, #ffc578 0%, #f47631 100%);
      background: -webkit-linear-gradient(-45deg, #ffc578 0%,#f47631 100%);
      background: linear-gradient(135deg, #ffc578 0%,#f47631 100%);
      &:before {
        border-radius: 32% 68% 70% 30% / 60% 63% 37% 40%;
        -moz-transform: rotate(29deg);
        -webkit-transform: rotate(29deg);
        -o-transform: rotate(29deg);
        -ms-transform: rotate(29deg);
        transform: rotate(29deg);
      }
    }
  }
  .feature-3 {
    .feature-image {
      border-radius: 20% 80% 42% 58% / 60% 32% 68% 40%;
      background: #ffc578;
      background: -moz-linear-gradient(-90deg, #ffc578 0%, #f47631 100%);
      background: -webkit-linear-gradient(-90deg, #ffc578 0%,#f47631 100%);
      background: linear-gradient(90deg, #ffc578 0%,#f47631 100%);
      &:before {
        border-radius: 20% 80% 42% 58% / 60% 32% 68% 40%;
        -moz-transform: rotate(29deg);
        -webkit-transform: rotate(29deg);
        -o-transform: rotate(29deg);
        -ms-transform: rotate(29deg);
        transform: rotate(29deg);
      }
    }
  }
  .feature-4 {
    .feature-image {
      border-radius: 55% 45% 42% 58% / 69% 32% 68% 31%;
      background: #ffc578;
      background: -moz-linear-gradient(-135deg, #ffc578 0%, #f47631 100%);
      background: -webkit-linear-gradient(-135deg, #ffc578 0%,#f47631 100%);
      background: linear-gradient(45deg, #ffc578 0%,#f47631 100%);
      &:before {
        border-radius: 55% 45% 42% 58% / 69% 32% 68% 31%;
        -moz-transform: rotate(29deg);
        -webkit-transform: rotate(29deg);
        -o-transform: rotate(29deg);
        -ms-transform: rotate(29deg);
        transform: rotate(29deg);
      }
    }
  }
  
}