.fourzerofour {  
  padding: 100px 0;
  max-width: 700px;
  margin: 0 auto;
  min-height: 350px;
  text-align: center;  
}
.fourzerofour h1 {
  font-size: 5em;  
}
.fourzerofour p {
  font-size: 2em;
}