/* BWP: Recent comment;
-------------------------------------------------------------- */

.bwp-rc-ulist{
	list-style: none;
	margin: 0;
	padding: 0;
}

.recent-comment{
	margin-bottom: 15px;
}
.recent-comment:after {
	content: "";
	display: block;
	clear: both;
}
.recent-comment-avatar {
	display: block;
	float: left;
	margin-right: 10px;
}

.recent-comment-single{
	overflow: hidden;
}

.recent-comment-author{
	font-weight: bold;
}

.recent-comment-text{
	
}
/* BWP: Recent comment -------------------------------------------------------------- */