/* SECTION COLUMNS
-------------------------------------------------------------- */
.title-section,
.title-section-left {
	font-size: 46px;
	line-height: 56px;
	margin-top: 0;
	padding-bottom: 18px;  
	position: relative;
	margin-bottom: 60px;
}

.title-section:before,
.title-section-left:before {
	content: "";
	border-bottom: 1px solid #2a2f46;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 80px;
}
/* SECTION COLUMNS -------------------------------------------------------------- */