/* SECTION CONTACT 
--------------------------------------------------- */
#map {
  height: 600px;
}
.section-map {
  margin-bottom: 15px;
}
/* Contact Form 7
-------------------------------------------------------------- */
body div.wpcf7-response-output {
  padding: 15px;
  margin: 0 0 5px;
  display: inline-block;
}
body div.wpcf7-validation-errors {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
body div.wpcf7-mail-sent-ok {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
body div.wpcf7-mail-sent-ng {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
body div.wpcf7-spam-blocked {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
.wpcf7-form-control {
  width: 100%;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  color: #333333;
  display: block;
  font-size: 14px;
  height: 34px;
  padding: 0 0 10px 0;
}
textarea.wpcf7-form-control {
  height: 150px;
}
.wpcf7-form-control.wpcf7-not-valid {
  border-color: #e41919;
}
.wpcf7-form-control-wrap {
  display: block;
  margin-bottom: 20px;
}
.wpcf7-textarea {
  height: auto;
  margin-bottom: 20px;
}
input.wpcf7-submit {
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 0;
  padding: 10px 30px;
  height: auto;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  background: #428bca;
  border: 1px solid #428bca;
  color: #fff;
  width: auto;
  margin-bottom: 15px;
  border-radius: 3px;
}
.wpcf7-response-output {
  margin-top: 15px;
}
body div.wpcf7-response-output {
  padding: 15px;
  margin: 0 0 5px;
  display: inline-block;
}
body div.wpcf7-validation-errors {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
body div.wpcf7-mail-sent-ok {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
body div.wpcf7-mail-sent-ng {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
body div.wpcf7-spam-blocked {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
/* Responsive for Google noCAPTCHA reCAPTCHA */
.wpcf7-form-control.g-recaptcha {
  transform: scale(0.77);
  -webkit-transform: scale(0.77);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}
/* Contact Form 7 -------------------------------------------- */
