/* Component: Extra zone
-------------------------------------------------------------- */

.extra-zone{
  background: #F9F9F9;
  padding: 20px 0 0;
}
.footer-widget-1,
.footer-widget-2,
.footer-widget-3,
.footer-widget-4{

}
.footer-widgets h3{  
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 10px;
}
.footer-widgets dt{
  font-weight: normal;  
}
.footer-widgets dd{
  
  font-size: 11px;
}
.footer-widgets a{
  
}
.footer-widgets a:hover{
  text-decoration: underline;
}
.footer-widgets .menu-item{
  margin-bottom: 0.4em;
}

/* Component: Extra zone	-------------------------------------------------------------- */