/* READ NEXT
---------------------------------------*/
.read-next {
  -moz-box-align: stretch;
  align-items: stretch;
  display: flex;
  margin-top: 10rem;
}
.read-next-story:hover {
  color: #fff;
}
.read-next-story {
  -moz-box-flex: 1;
  background: #255252 5 none no-repeat scroll center center / cover;
  color: #fff;
  display: flex;
  flex-grow: 1;
  min-width: 50%;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
}
.read-next-story:before {
  background: rgba(0, 0, 0, 0.6);
  display: block;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.read-next-story .post {
  padding-bottom: 10rem;
  padding-top: 10rem;
  margin: 0 auto;
  position: relative;
  z-index: 7;
}
.read-next-story h2 {
  color: #fff;
  margin-top: 1rem;
  font-size: 18px;
}
.read-this-next,
.you-might-enjoy {
  display: inline-block;
  margin: 0 auto;
  padding: 3px 15px;
  border: 1px solid #ccc;
  text-transform: uppercase;
  margin-bottom: 0px;
  border-radius: 3px;
  line-height: 1;
  font-size: 12px;
}
.read-this-next:hover,
.you-might-enjoy:hover {
  color: #fff;
  border-color: #fff;
}
@media (max-width: 520px) {
  .read-next {
    flex-direction: column;
  }
  .read-next-story {
    width: 100%;
  }
}
/* READ NEXT ---------------------------------------*/
