/* pagination
-----------------------*/

.pagination{
	margin: 20px 0;
}

.page-numbers{
	display: inline-block;
	border: 1px solid #e5edf7;
	background: #f0f7ff;
	padding: 3px 7px;
}

.page-numbers.current{
	background: #287cd0;
	color: #fff;
}

.page-numbers.dots{
	background: #fff;
}