a {
  color: #222222;
  text-decoration: none;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: bold;
  color: #333333;
  text-rendering: optimizelegibility;
}
h1 {
  font-size: 30px;
  line-height: 36px;
  line-height: 1.2;
}
h1 small {
  font-size: 18px;
}
h2 {
  font-size: 24px;
  line-height: 36px;
  line-height: 1.2;
}
h2 small {
  font-size: 18px;
}
h3 {
  line-height: 27px;
  font-size: 18px;
  line-height: 1.2;
}
h3 small {
  font-size: 14px;
}
h4 {
  font-size: 14px;
  line-height: 18px;
  line-height: 1.2;
}
h4 small {
  font-size: 12px;
}
h5 {
  font-size: 12px;
  line-height: 18px;
  line-height: 1.2;
}
h6 {
  font-size: 11px;
  line-height: 18px;
  line-height: 1.2;
}
